<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimProj</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.jsim.proj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimMod</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.jsim.mod</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimMod</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.jsim.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimMod</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimJSML</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.jsim.jsml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimTac</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.jsim.tac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimCdata</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.jsim.cdata</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimCSV</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.comma-separated-values-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JSimBul</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.physiome.I4.bul</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>2.xx © 2003-2011 University of Washington</string>
	<key>CFBundleHelpBookFolder</key>
	<string>JSim_Help_Book</string>
	<key>CFBundleHelpBookName</key>
	<string>org.physiome.jsim.help</string>
	<key>CFBundleIconFile</key>
	<string>JSim.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.washington.bioeng.nsr.JSim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JSim</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.xx</string>
	<key>CFBundleSignature</key>
	<string>JSim</string>
	<key>CFBundleVersion</key>
	<string>2.xx</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/JSimClient.jar:$JAVAROOT/JSimServer.jar</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>JSim.gui.GLaunch</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>JSIM</string>
			<key>java.library.path</key>
			<string>$APP_PACKAGE/Contents/Resources/macos/lib</string>
			<key>jsim.home</key>
			<string>$APP_PACKAGE/Contents/Resources</string>
			<key>jsim.userdir</key>
			<string>HOME</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx1500m</string>
	</dict>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSim project</string>
			<key>UTTypeIconFile</key>
			<string>JSimProj</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.jsim.proj</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>proj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSim model source</string>
			<key>UTTypeIconFile</key>
			<string>JSimMod.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.jsim.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
					<string>flat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSim sbml/cellml</string>
			<key>UTTypeIconFile</key>
			<string>JSimMod.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.jsim.xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xml</string>
					<string>cellml</string>
					<string>sbml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSim Markup Language</string>
			<key>UTTypeIconFile</key>
			<string>JSimJSML.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.jsim.jsml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jsml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSIM time activity curve</string>
			<key>UTTypeIconFile</key>
			<string>JSimTac.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.jsim.tac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>columnar table</string>
			<key>UTTypeIconFile</key>
			<string>JSimCdata.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.jsim.cdata</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdata</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>comma separated value</string>
			<key>UTTypeIconFile</key>
			<string>JSimCSV.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.comma-separated-values-text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>csv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>I4 bullseye</string>
			<key>UTTypeIconFile</key>
			<string>JSimBul</string>
			<key>UTTypeIdentifier</key>
			<string>org.physiome.I4.bul</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bul</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
